<div id="message_<%= message.id %>"
  <article class="message is-primary">
    <div class="message-header">
      <p><%= message.user.email %></p>
      <%= link_to 'Remove message', [message.project, message], method: :delete, class: 'delete', id: "message_delete_#{message.id}", remote: true %>
    </div>
    <div class="message-body">
      <%= message.body %>
    </div>
  </article>
</div>